body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

header > h1 {
    color: #333;
}

header > h4 {
    color: #555;
}

header > button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #217dbb;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section > h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="button"] {
    background-color: #2ecc71;
    color: #163020;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

input[type="button"]:hover{
    background-color:#27B061;
}

input[type="reset"] {
    background-color: #FF9800;
    color: #820300;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
input[type="reset"]:hover {
    background-color: #E28700;
}

#operasiLuas, #resultLuas, #operasiKeliling, #resultKeliling {
    font-size: 20px;
    font-weight: bold;
    color: #217dbb;
}